Source: libcommuni
Priority: extra
Maintainer: Diane Trout <diane@ghic.org>
Build-Depends: debhelper (>= 9.0.0), libqt4-dev (>= 4.6)
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/communi/libcommuni
Vcs-Git: https://github.com/detrout/libcommuni.git
Vcs-Browser: https://github.com/detrout/libcommuni

Package: libcommuni-dev
Section: libdevel
Architecture: any
Depends: libcommuni2 (= ${binary:Version}), ${misc:Depends}
Description: cross-platform IRC framework written with Qt
 provides a library allowing you to work with various IRC applications
 in a Qt compatible way.
 .
 This contains the headers necessary to develop new applications.

Package: libcommuni2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cross-platform IRC framework written with Qt
 provides a library allowing you to work with various IRC
 applications in a Qt compatible way.
