#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@   --buildsystem qmake_qt4

override_dh_auto_configure:
	qmake-qt4 -config verbose -recursive \
	          QMAKE_CFLAGS+="$(CFLAGS)" \
	          QMAKE_CXXFLAGS+="$(CXXFLAGS)" \
	          QMAKE_LFLAGS+="$(LDFLAGS)"

override_dh_auto_clean:
	dh_auto_clean
	-rm libcommuni/.qmake.cache
	-rm libcommuni/communi-config.prf
